.button {
  padding: 1rem 1.8rem;
  border-radius: 5rem;
  border: none;
  color: $white-color;
  box-shadow: $theme-box-shadow;
  font-size: 0.9rem;
  font-weight: 600;
  background: linear-gradient(to right, $lime-green-color, $bright-cyan-color);
  cursor: pointer;
  transition: $theme-transition;

  &:hover {
    opacity: 0.8;
  }
}
