.header {
  @include flex(row, space-between, center);
  background-color: $white-color;
  padding: 1rem 10rem;
  position: relative;
  z-index: 10;

  @include media-breakpoint-up($screen-sm, max-width) {
    padding: 1.5rem;
  }

  &__list {
    @include flex(row);
    gap: 2rem;

    @include media-breakpoint-up($screen-lg, max-width) {
      display: none;
    }
  }

  &__item {
    a {
      position: relative;
      text-decoration: none;
      cursor: pointer;
      color: $grayish-blue-color;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, $lime-green-color, $bright-cyan-color);

        height: 3px;
        opacity: 0;
        z-index: 20;
      }

      &:hover {
        color: black;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__button {
    @include media-breakpoint-up($screen-lg, max-width) {
      display: none;
    }
  }

  &__menu {
    display: none;

    @include media-breakpoint-up($screen-lg, max-width) {
      display: block;
    }
  }

  &__toggle {
    display: none;
    width: 25px;
    height: 25px;

    @include media-breakpoint-up($screen-lg, max-width) {
      display: block;
    }
  }
}

nav {
  position: relative;
}

.overlay {
  z-index: 2;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba($dark-blue-color, 0.5);
}

.hide {
  display: none;
}

.mobile__menu {
  position: absolute;
  margin-top: 2rem;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  width: 90%;
  background-color: $white-color;
  padding: 1.2rem;
  border-radius: 0.5rem;

  li {
    padding: 0.8rem;

    a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: black;
      font-weight: 500;
    }
  }
}
